<div class="container">
    <div class="col-md-8 col-md-offset-2">

        <div class="pull-right"><%= link_to 'Back', references_path, {:style=>"text-decoration: none; color: white;", :class=>"btn btn-warning"} %></div>

        <h1>Edit Reference</h1>

        <%= render 'form', reference: @reference %>
        <br>
    </div>
</div>
